<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Section List</string>
		</dict>
		<dict>
			<key>key</key>
			<string>customSectionListStartCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Custom sections can be created, deleted, or reordered. Deleting a section will move any pinned albums back to the Recently Added section.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>addNewCustomSectionCell</string>
			<key>label</key>
			<string>Add New Custom Section</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>saveData</string>
			<key>label</key>
			<string>Manual Save</string>
		</dict>
		<!--
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Add New Custom Section</string>
		</dict>
		-->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Recently Added Section</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>renameRecentlyAddedSectionEnabled</string>
			<key>label</key>
			<string>Rename Recently Added</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MELOCustomSectionsListCell</string>
			<key>customSectionIdentifier</key>
			<string>MELO_RECENTLY_ADDED_SECTION</string>
			<key>customSectionTitle</key>
			<string></string>
			<key>customSectionSubtitle</key>
			<string></string>
			<key>customSectionType</key>
			<string>MELO_RENAME_RECENTLY_ADDED_SECTION</string>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>customRecentlyAddedInfo</string>
		</dict>		
	</array>
	<key>title</key>
	<string>Custom Sections</string>
</dict>
</plist>
