<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>footerText</key>
			<string>Restart the Music app to enable/disable hooks. TODO: Other settings are applied automatically.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>key</key>
			<string>libraryHooksEnabled</string>
			<key>label</key>
			<string>Library Hooks Enabled</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Visualizer Page</string>
			<key>footerText</key>
			<string>Adds a page to the library where you can view a music visualizer for the current song.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/library.updated</string>
			<key>key</key>
			<string>visualizerPageEnabled</string>
			<key>label</key>
			<string>Visualizer Page Enabled</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MELOSliderCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>20</integer>
			<key>showValue</key>
			<true/>
			<key>integersOnly</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/library.updated</string>
			<key>key</key>
			<string>visualizerBarSpacing</string>
			<key>label</key>
			<string>Bar Spacing</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MELOSliderCell</string>
			<key>default</key>
			<integer>16</integer>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>512</integer>
			<key>showValue</key>
			<true/>
			<key>integersOnly</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/library.updated</string>
			<key>key</key>
			<string>visualizerNumBars</string>
			<key>label</key>
			<string>Num Bars</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/library.updated</string>
			<key>key</key>
			<string>visualizerAnimateAlphaEnabled</string>
			<key>label</key>
			<string>Animate Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/library.updated</string>
			<key>key</key>
			<string>visualizerCenterBarsEnabled</string>
			<key>label</key>
			<string>Center Bars</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>-- NOTHING BELOW THIS IS IMPLEMENTED --</string>
			<key>footerText</key>
			<string></string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Recently Viewed Page</string>
			<key>footerText</key>
			<string>Adds a page to the library where you can access recently viewed artist, album, and playlist pages. Saved pages do not persist through app restarts.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/library.updated</string>
			<key>key</key>
			<string>recentlyViewedPagesEnabled</string>
			<key>label</key>
			<string>Recently Viewed Page Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/library.updated</string>
			<key>key</key>
			<string>recentlyViewedPagesLimitEnabled</string>
			<key>label</key>
			<string>Limit Saved Pages</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MELOSliderCell</string>
			<key>default</key>
			<integer>5</integer>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>25</integer>
			<key>showValue</key>
			<true/>
			<key>integersOnly</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/library.updated</string>
			<key>key</key>
			<string>recentlyViewedPagesLimit</string>
			<key>label</key>
			<string>Limit / Section</string>
		</dict>
	</array>
	<key>title</key>
	<string>Library</string>
</dict>
</plist>
