<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Master Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>key</key>
			<string>layoutHooksEnabled</string>
			<key>label</key>
			<string>Enable Layout Hooks</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>key</key>
			<string>pinningHooksEnabled</string>
			<key>label</key>
			<string>Enable Pinning Hooks</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>key</key>
			<string>themingHooksEnabled</string>
			<key>label</key>
			<string>Enable Theming Hooks</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>key</key>
			<string>wiggleModeHooksEnabled</string>
			<key>label</key>
			<string>Enable Wiggle Mode Hooks</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Album Layout</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>key</key>
			<string>customNumColumnsEnabled</string>
			<key>label</key>
			<string>Custom Number of Columns</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MELOSliderCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>10</integer>
			<key>showValue</key>
			<true/>
			<key>integersOnly</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>customNumColumns</string>
			<key>label</key>
			<string>Num Columns</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>key</key>
			<string>hideAlbumTextEnabled</string>
			<key>label</key>
			<string>Hide Album Artist and Title</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>key</key>
			<string>customAlbumCellCornerRadiusEnabled</string>
			<key>label</key>
			<string>Custom Album Cell Corner Radius</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MELOSliderCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>50</integer>
			<key>showValue</key>
			<true/>
			<key>integersOnly</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>customAlbumCellCornerRadius</string>
			<key>label</key>
			<string>Radius %</string>
		</dict>		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>customAlbumCellSpacingEnabled</string>
			<key>label</key>
			<string>Custom Spacing Between Album Cells</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MELOSliderCell</string>
			<key>default</key>
			<integer>5</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>40</integer>
			<key>showValue</key>
			<true/>
			<key>integersOnly</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>customAlbumCellSpacing</string>
			<key>label</key>
			<string>Spacing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>mainLayoutAffectsOtherAlbumPagesEnabled</string>
			<key>label</key>
			<string>Columns, Radius, Spacing Affects Other Pages</string>	
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>hideTextAffectsOtherAlbumPagesEnabled</string>
			<key>label</key>
			<string>Hide Text Affects Other Pages</string>	
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pinning</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>key</key>
			<string>removeAlbumLimitEnabled</string>
			<key>label</key>
			<string>Remove Album Limit</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>key</key>
			<string>customSectionsEnabled</string>
			<key>label</key>
			<string>Enable Custom Sections</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>MELOCustomSectionsListController</string>
			<key>label</key>
			<string>Custom Sections</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>collapsibleSectionsEnabled</string>
			<key>label</key>
			<string>Collapsible Sections</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>preserveCollapsedStateEnabled</string>
			<key>label</key>
			<string>Preserve Collapsed State</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Downloaded Music</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>downloadedPinningEnabled</string>
			<key>label</key>
			<string>Enable Pinning</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>syncLibraryPinsEnabled</string>
			<key>label</key>
			<string>Sync Pins From Full Library</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Theming</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>customTintColorEnabled</string>
			<key>label</key>
			<string>Enable Custom Tint Color</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MELOColorPickerCell</string>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>customTintColor</string>
			<key>label</key>
			<string>Custom Tint Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Context Menu Actions</string>
			<key>footerText</key>
			<string></string>
		</dict>		
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>validTitles</key>
			<array>
				<string>Placed at Top</string>
				<string>Placed at Bottom</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>default</key>
			<integer>1</integer>
			<key>key</key>
			<string>contextActionsLocationValue</string>
			<key>label</key>
			<string>Context Location</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>allActionsInSubmenuEnabled</string>
			<key>label</key>
			<string>Place Actions in Submenu</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>showMoveActionsEnabled</string>
			<key>label</key>
			<string>Show Move to Section Actions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>showLeftRightActionsEnabled</string>
			<key>label</key>
			<string>Show Shift Left/Right Actions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>PostNotification</key>
			<string>com.lint.melo.prefs/prefschanged</string>
			<key>key</key>
			<string>showWiggleModeActionEnabled</string>
			<key>label</key>
			<string>Show Wiggle Mode Action</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Clear Saved Pins</string>
			<key>action</key>
			<string>clearPins</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>key</key>
			<string>customActionMenuEnabled</string>
			<key>label</key>
			<string>Enable Custom Action Menu</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>key</key>
			<string>loggingEnabled</string>
			<key>label</key>
			<string>Enable Logging</string>
		</dict>

	</array>
	<key>title</key>
	<string>Melo</string>
</dict>
</plist>
