<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>footerText</key>
			<string>Restart the Music app to enable / disable.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pinning Settings</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>MELOPinningListController</string>
			<key>label</key>
			<string>Pinning</string>
			<key>iconImageName</key>
			<string>pin.fill</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Library Settings</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>MELOLibraryListController</string>
			<key>label</key>
			<string>Library</string>
			<key>iconImageName</key>
			<string>book.fill</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Layout Settings</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>MELOLayoutListController</string>
			<key>label</key>
			<string>Layout</string>
			<key>iconImageName</key>
			<string>square.grid.3x3.fill</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Theming Settings</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>MELOThemingListController</string>
			<key>label</key>
			<string>Theming</string>
			<key>iconImageName</key>
			<string>paintbrush.fill</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Backport Settings</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>MELOBackportListController</string>
			<key>label</key>
			<string>Backport</string>
			<key>iconImageName</key>
			<string>arrow.backward.to.line.circle.fill</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Reset</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Clear Saved Pins</string>
			<key>action</key>
			<string>clearPins</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>key</key>
			<string>customActionMenuEnabled</string>
			<key>label</key>
			<string>Enable Custom Action Menu</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.melo.prefs</string>
			<key>key</key>
			<string>loggingEnabled</string>
			<key>label</key>
			<string>Enable Logging</string>
		</dict>

	</array>
	<key>title</key>
	<string>Melo</string>
</dict>
</plist>
